{% extends "base.html.twig" %}

{% block body %}

<div class="card">
  <div class="card-header bg-primary text-white">
  		Edit Profile 
  </div>
  <div class="card-body">

	{% include "@FOSUser/Profile/edit_content.html.twig" %}

  </div>
</div>


<div class="card">
  <div class="card-header bg-primary text-white">
  		Hobbies
  </div>
  <div class="card-body">

	 <div class="form-group">  
         <form name="add_name" id="add_name">  
              <div class="table-responsive">  
                   <table class="table table-bordered" id="dynamic_field">  
                        <tr>  
                             <td><input type="text" name="name[]" placeholder="Enter your Hobby" class="form-control name_list" /></td>  
                             <td><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>  
                        </tr>  
                   </table>  
                   <input type="button" name="submit" id="submit" class="btn btn-info" value="Submit" />  
              </div>  
         </form>  
    </div>  

  </div>
</div>


<script>  
 $(document).ready(function(){  
      var i=1;  
      $('#add').click(function(){  
           i++;  
           $('#dynamic_field').append('<tr id="row'+i+'"><td><input type="text" name="name[]" placeholder="Enter your Hobby" class="form-control name_list" /></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr>');  
      });  
      $(document).on('click', '.btn_remove', function(){  
           var button_id = $(this).attr("id");   
           $('#row'+button_id+'').remove();  
      });  
      $('#submit').click(function(){            
           $.ajax({  
                url:"/add_hobby",  
                method:"POST",  
                data:$('#add_name').serialize(),  
                success:function(data)  
                {  
                     alert(data);  
                     $('#add_name')[0].reset();  
                }  
           });  
      });  
 });  
 </script>

{% endblock %}
