{% extends 'base.html.twig' %}

{% block body %}
    <h1>User creation</h1>

    <style>
    #form div
    {
        margin: 14px;
    }
    </style>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
